.home {
  &-header {
    @apply flex 
    flex-col 
    gap-2 
    w-full
    pt-0
    px-3
    pb-2
    bg-slate-100;
    h1 {
      line-height: normal !important;
      @apply font-montserrat-b
      text-5xl
      sm:text-6xl
      md:text-8xl;
    }
    poke-search {
      @apply z-10;
    }
    img {
      @apply w-28 fixed right-0 top-0 opacity-50;
    }
  }
  &-content {
    @apply px-3;
    ion-button {
      @apply mb-3;
    }
  }
  poke-change-generation {
    @apply fixed bottom-1 right-1;
  }
}