<ion-content
  [fullscreen]="true"
  class="home"
>
  <ng-container *ngIf="!loading">
    <div class="home-header">
      <h1>Pokedex</h1>
      <poke-search (searchFn)="filter($event)" />
      <img [src]="IMG_POKE_BG" />
    </div>
    <div class="home-content">
      <poke-list [pokemons]="pokemonsFiltered" />
    </div>
    <!--<poke-display-item
      *ngIf="pokemonSelected"
      [pokemon]="pokemonSelected!"
    ></poke-display-item>-->
    <poke-change-generation
      [generation]="generation"
      (changeGenerationFn)="changeGeneration($event)"
    />
  </ng-container>
  <poke-spinner *ngIf="loading"></poke-spinner>
</ion-content>
