<div class="poke-item-skeleton">
  <div>
    <div class="poke-item-skeleton-header">
      <poke-skeleton-content
        [size]="1"
        [width]="'80px'"
        [height]="'30px'"
      />
      <poke-skeleton-content
        [size]="1"
        [width]="'150px'"
        [height]="'30px'"
      />
    </div>
    <div class="poke-item-skeleton-box">
      <poke-skeleton-content
        [size]="1"
        [width]="'100px'"
        [height]="'30px'"
      />
      <poke-skeleton-content
        [size]="1"
        [width]="'100px'"
        [height]="'30px'"
      />
    </div>
    <div class="poke-item-skeleton-box">
      <poke-skeleton-content
        [size]="1"
        [width]="'100px'"
        [height]="'30px'"
      />
      <poke-skeleton-content
        [size]="1"
        [width]="'100px'"
        [height]="'30px'"
      />
    </div>
  </div>
  <div>
    <poke-skeleton-content
      [size]="1"
      [width]="'80px'"
      [height]="'80px'"
      [type]="'circle'"
    />
  </div>
</div>
